<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Srv" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://voos.infraero.gov.br/wsvoosmobile/ConsultaVoos.svc"
          binding="basicHttpBinding" bindingConfiguration="Srv" contract="infraeroConsultaVoos.IConsultaVoos"
          name="Srv" />
    </client>
  </system.serviceModel>
</configuration>