<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Srv" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://voos.infraero.gov.br/wsvoosmobile/ConsultaVoos.svc"
                binding="basicHttpBinding" bindingConfiguration="Srv" contract="infraeroConsultaVoos.IConsultaVoos"
                name="Srv" />
        </client>
    </system.serviceModel>
</configuration>